.card-box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
}

.page-card-2,
.form-card-2 {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 50px;
  border: 3px solid #f0f0f0;
  margin: 20px 20px 50px;
  border-bottom-left-radius: 30px;
  transition: 0.2s all;
}

.form-card-2 {
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: calc(50% - 250px);
  margin: 80px auto 0;
  /* transform: translate(120%); */
}

.edit-styles {
  font-size: 20px;
  cursor: pointer;
  align-self: flex-end;
}
